# Global ignores
.DS_Store
*.log
*.lock
*.bak
*.backup
*.tmp
*.swp
*.swo
.idea/
.vscode/
*.iml

# Frontend: blip-ui
blip-ui/node_modules
blip-ui/.expo
blip-ui/.expo-shared
blip-ui/ios/Pods
blip-ui/android/.gradle
blip-ui/android/app/build/
blip-ui/android/app/debug.keystore
blip-ui/android/.idea/
blip-ui/android/local.properties
blip-ui/ios/build/
blip-ui/.cache/
blip-ui/build/
blip-ui/expo-app-loader-cache/
blip-ui/.DS_Store
blip-ui/.env
blip-ui/.env.local
blip-ui/npm-debug.log*
blip-ui/yarn-debug.log*
blip-ui/yarn-error.log*
blip-ui/tsconfig.tsbuildinfo

# Backend: blip-api
blip-api/__pycache__/
blip-api/*.py[cod]
blip-api/*.pyo
blip-api/*.egg-info/
blip-api/*.eggs/
blip-api/.env
blip-api/.env.*
blip-api/.mypy_cache
blip-api/.pytest_cache
blip-api/instance/
blip-api/.cache/
blip-api/staticfiles/
blip-api/mediafiles/
blip-api/*.db
blip-api/.coverage
blip-api/coverage.xml
blip-api/nosetests.xml
blip-api/test_*.py
blip-api/.tox/
blip-api/pytestdebug.log
blip-api/pip-log.txt
blip-api/pip-delete-this-directory.txt
blip-api/venv/
blip-api/env/
blip-api/ENV/
blip-api/.venv/